<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="CfName" value="efec.service"/>
    <add key="CfPwd" value="efef@123"/>
    <add key="loginAddress" value="https://confluence.englishtown.com/dologin.action"/>
    <add key="NewCommer" value="https://confluence.englishtown.com/display/EFU/TV+Edit+1+-+New+Comer"/>
    <add key="MeetOurPeople" value="https://confluence.englishtown.com/display/EFU/TV+Edit+2+-+Meet+Our+People"/>
  </appSettings>
  <!-- For IIS 7.0+ -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" preCondition="integratedMode" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>