.meet-our-people {
    .list {
        padding: 1em;
        overflow: auto;
        .item {
            .pic {
                margin-bottom: 5em;
                width: 100%;
            }
        }
    }
}