.new-comers {
  display: none;
}
.new-comers .left,
.new-comers .right {
  position: absolute;
  height: 100%;
}
.new-comers .left {
  left: 0;
  bottom: 0;
  width: 55.279%;
}
.new-comers .right {
  top: 0;
  right: 0;
  width: 44%;
  background-color: #fff;
}
