.new-comers {
    display: none;
    .left,
    .right {
        position: absolute;
        height: 100%;
    }
    .left {
        left: 0;
        bottom: 0;
        width: 65.279%;
    }
    .right {
        top: 0;
        right: 0;
        width: 34%;
        background-color: #fff;
    }
}