.new-comers {
  display: none;
}
.new-comers .left,
.new-comers .right {
  position: absolute;
  height: 100%;
}
.new-comers .left {
  left: 0;
  bottom: 0;
  /* padding: 12em 1em 0 1em; */
  width: 65%;
}
.new-comers .right {
  top: 0;
  right: 0;
  /* padding: 3em 2em 0 2em; */
  width: 35%;
  background-color: #fff;
}
